<div class="your-clock">   
</div>
<button type="button" class="start" style="margin: 25px; font-size: 20px; padding: 15px;">Start</button>
<button type="button" class="stop" style="margin: 25px; font-size: 20px; padding: 15px;">Stop</button>

<h1>Your tasks</h1>

<div class="tasks">
    <% @tasks.each do |task| %>
      <li class="task" value="<%=task.id%>">
        <%= task.desc %>
        <%= task.score %>
        <div class="edit">
        <%= link_to 'Show', task %>
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </li>
    <% end %>
</div>

<form style="display: hidden" action="/update" method="PATCH" id="form">
         <input type="hidden" id="task_id" name="id" value=""/> 
</form>



<br>

<%= link_to 'New Task', new_task_path %>
<%= javascript_include_tag('flipclock/flipclock.min.js') %>
<%= javascript_include_tag('example.js') %>

