<div class= "row-fluid">
  <div class= "span6">
    <div class="your-clock">   </div>
    <% count = @tasks.count %>
      
<button type="button" class="start" style="margin: 15px; font-size: 20px; padding: 5px;">Start</button>
<button type="button" class="stop" style="margin: 15px; font-size: 20px; padding: 5px;">Stop</button>
  <input type="text" class="time" style="width: 50px; margin: 15px; font-size: 20px; padding: 5px;" placeholder="mins">
  <button type="button" class="setTime" style="margin: 15px; font-size: 20px; padding: 5px;">Set Time</button>
      
  </div>
  <div class="span6">
    <div class= "stats">
      <% worked_count = @tasks.worked.count %>
      <!--<form action="/create" method="post">
        <input type="textbox" placeholder="Start typing what's in ur head">
        <input type="submit" value="Create task">
      </form> -->

      <%= form_for(Task.new, remote: true) do |f| %>
        <div class="field">
          <%= f.text_field :desc, :placeholder => "Start typing here .." %>
          <!--<input type="text" name="desc" placeholder="Start typing here .. "> -->
        </div>
        <div class="actions">
        <%= f.submit %>
      </div>
      <% end %>
      
      <% if worked_count != 0 %>
    <div class="message">You have worked on <%= pluralize(worked_count, 'task') %> today :)
     <!-- and spent a total time of <%= Task.sum('score')* (Todoapp::Application.config.pomodoro_time)/60 %> mins on them :)   -->
    </div>    
  <% else %>
      <div class="message">You do not have anything on your plate now :)</div>
  <% end %> 
</div>
<h2> <%= link_to 'Clean your slate ? ', "./clear",method: :delete, data: { confirm: 'Are you sure?' } %> </div>
  </h2>
</div>

<div id="tasks">
    <% @tasks.each do |task| %>
      <%= render task %>
    <% end %>
</div>

</br>

<form style="display: hidden" action="/update" data-method="patch" id="hidden_form">
         <input type="hidden" id="task_id" name="id" value=""/> 
</form>

<%= javascript_include_tag('flipclock/flipclock.min.js') %>
<%= javascript_include_tag('example.js') %>

