<div class="your-clock">   
</div>
<button type="button" class="start" style="margin: 25px; font-size: 20px; padding: 15px;">Start</button>
<button type="button" class="stop" style="margin: 25px; font-size: 20px; padding: 15px;">Stop</button>

<h1>Your tasks</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Count</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.desc %></td>
        <td><%= task.score %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
<%= javascript_include_tag('flipclock/flipclock.min.js') %>
<%= javascript_include_tag('example.js') %>

